{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редагувати науковий інтерес</h1>

    {{ include('scientific_interest/_form.html.twig', {'button_label': 'Змінити'}) }}

    <a href="{{ path('ro_scientific_interest_index') }}" class="btn btn-sm btn-primary">Назад до списку</a>

    {{ include('scientific_interest/_delete_form.html.twig') }}
{% endblock %}
