{% extends 'base.html.twig' %}

{% block body %}
    <h1>Наукові інтереси</h1>

    <div class="ro-group">
        {% for scientific_interest in scientific_interests %}
            <a href="{{ path('ro_scientific_interest_edit', {'id': scientific_interest.id}) }}" class="ro-group--link">
                {{ scientific_interest.name }}
                {% if scientific_interest.users|length %}
                    - ({{ scientific_interest.users|length }})
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <a href="{{ path('ro_scientific_interest_new') }}" class="btn btn-sm btn-primary">Додати новий</a>
{% endblock %}
