{% extends 'base.html.twig' %}

{% block body %}
    <h1>Додати новий науковий інтерес</h1>

    {{ include('scientific_interest/_form.html.twig') }}

    <a href="{{ path('ro_scientific_interest_index') }}" class="btn btn-sm btn-primary">Назад до списку</a>
{% endblock %}
