{% extends 'base.html.twig' %}

{% block title %}New ScientificInterest{% endblock %}

{% block body %}
    <h1>Create new ScientificInterest</h1>

    {{ include('scientific_interest/_form.html.twig') }}

    <a href="{{ path('scientific_interest_index') }}">back to list</a>
{% endblock %}
