{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Diploma</h1>

    {{ include('diploma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ro_diploma_index') }}">back to list</a>

    {{ include('diploma/_delete_form.html.twig') }}
{% endblock %}
