{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Diploma</h1>

    {{ include('diploma/_form.html.twig') }}

    <a href="{{ path('ro_diploma_index') }}">back to list</a>
{% endblock %}
