<footer>
    <!-- Copyright -->
    <div class="text-center text-black-50 py-3">© 2019 Copyright:
        <a href="https://github.com/katebalan">Kate Balan</a>
    </div>
    <!-- Copyright -->
</footer>
